@page "/orders"
@inject IWorkOrderService WorkOrderService
@inject ICustomerService CustomerService

<PageTitle>Work Order list</PageTitle>
<h1>Work Orders:</h1>
@if (WorkOrders is not null)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">License Number</th>
                            <th scope="col">Date of production</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Damage</th>
                            <th scope="col">Status</th>
                            <th>Commands</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in WorkOrders)
                        {
                            <tr>
                                <td>@GetCustomerName(order.CustomerId)</td>
                                <td>@order.LicensePlate</td>
                                <td>@order.DateOfProduction.ToShortDateString()</td>
                                <td>@order.RepairCategory</td>
                                <td>@order.Description</td>
                                <td>@order.DamageSeverity</td>
                                <td>@order.Status</td>
                                <td width="20%">
                                    <div class="btn-group w-100" role="group">
                                        <button class="btn btn-outline-danger m-1" @onclick="() => RemoveWorkOrder(order.Id)">Delete</button>
                                        <button class="btn btn-outline-success m-1" @onclick="() => PromoteWorkOrderStatus(order.Id)"
                                                disabled="@IsStatusMax(order.Status)">
                                            Promote
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>
    <br />
    <p>Loading...</p>
}

@code {
    public IEnumerable<WorkOrder>? WorkOrders { get; set; }
    private Dictionary<Guid, string> customerNames = new Dictionary<Guid, string>();

    protected override async Task OnInitializedAsync()
    {
        WorkOrders = await WorkOrderService.GetWorkOrdersAsync();

        var customerIds = WorkOrders?.Select(order => order.CustomerId).Distinct() ?? Enumerable.Empty<Guid>();
        var customers = await Task.WhenAll(customerIds.Select(id => CustomerService.GetCustomerByIdAsync(id)));

        // Populate the customerNames dictionary
        customerNames = customers.ToDictionary(customer => customer?.Id ?? Guid.Empty, customer => customer?.Name ?? "N/A");
    }

    private async Task RemoveWorkOrder(Guid workOrderId)
    {
        await WorkOrderService.DeleteWorkOrderAsync(workOrderId);
        WorkOrders = await WorkOrderService.GetWorkOrdersAsync();
    }

    private string GetCustomerName(Guid customerId)
    {
        return customerNames.TryGetValue(customerId, out var name) ? name : "N/A";
    }

    private async Task PromoteWorkOrderStatus(Guid workOrderId)
    {
        await WorkOrderService.UpdateWorkOrderStatusAsync(workOrderId);
        WorkOrders = await WorkOrderService.GetWorkOrdersAsync();
    }

    private bool IsStatusMax(JobStatus status)
    {
        return status == JobStatus.Completed;
    }
}
